{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/content.css') }}" rel="stylesheet" />
{% endblock %}
{% block topbar %}<div class="header">USSD App Admin</div>{% endblock %}
{% block sidebar %}
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a href="/student_table">Student Results - Table</a>
      <a href="/students_chart">Student Results - Chart</a>
      <a href="/logout">Logout</a>
    </div>
{% endblock %}

{% block mainbody %}
	<div class="mainbody">
			<ul class="responsive-table">
				<li class="table-header">
					<div class="col col-1">MSISDN</div>
					<div class="col col-2">Name</div>
					<div class="col col-3">Surname</div>
					<div class="col col-4">Score</div>
				</thead>
			    {% for student in students %}
				<li class="table-row">
					<div class="col col-1"><a href="http://localhost:8000/student/{{ student.id }}">{{ student.msisdn }}</a></div>
					<div class="col col-2">{{ student.name }}</div>
					<div class="col col-3">{{ student.surname }}</div>
					<div class="col col-4">{{ student.score }}</div>
				</li>	
		        {% endfor %}
			</ul>
	</div>
{% endblock mainbody %}
